* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(211, 202, 186);
}

.top, .bottom {
  display: flex;
  flex-direction: row;
}

.top-left, .bottom-left {
  background-color: rgb(245, 242, 234);
  width: 35%;
}

.top-right, .bottom-right {
  background-color: white;
  width: 65%;
}

.top-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.top-right {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 8px;
  color:rgb(56, 56, 56);
  font-size: 40px;
  padding-left: 50px;
}

.profession {
  letter-spacing: 7px;
  color:rgb(56, 56, 56);
  font-size: 20px;
  font-weight: 500;
  padding-left: 50px;
}

.contacts {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 10px 0;
  line-height: 1.5;
  list-style-type: none;
  padding-left: 50px;
}

.item {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 10px 0;
  line-height: 1.5;
}

.contacts__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.contacts__link {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 10px 0;
  line-height: 1.5;
}

.bottom-left, .bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.bottom-left .block {
  width: 80%;
}

.block__title {
  text-transform: uppercase;
  color: rgb(245, 242, 234);
  letter-spacing: 10px;
  background-color: rgb(105, 105, 103);
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.text {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 10px 0;
  line-height: 1.5;
}

.education {
  margin: 10px 0;
}

.degree {
  color:rgb(56, 56, 56);
  text-transform: uppercase;
  margin: 10px 0;
}

.job {
  display: flex;
  flex-direction: column;
}

.job__title {
  display: flex;
  justify-content: space-between;
  color:rgb(56, 56, 56);
  text-transform: uppercase;
  margin: 10px 0;
}

.responsibilities {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 10px 0;
  line-height: 1.5;
}

.skills {
  color: rgb(105, 105, 103);
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 1.5;
  columns: 2;
  margin: 10px auto;
  padding-left: 0;
}

.skills .item {
  margin: 10px 50px;
}

.skills .item:first-child {
  margin-top: 0px;
}

@media (max-width: 900px) {
  .top {
    flex-direction: column;
  }

  .bottom {
    flex-direction: column-reverse;
  }

  .top-left {
    width: 100%;
    padding-top: 40px;
  }

  .bottom-left {
    width: 100%;
  }

  .bottom-left .block {
    width: 90%;
  }
  
  .top-right {
    width: 100%;
    background-color: rgb(245, 242, 234);
  }
  
  .bottom-right {
    width: 100%;
    background-color: rgb(245, 242, 234);
  }
}